* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@media only screen and (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

#map {
    max-width: 300px;
    height: 300px;
}